---
title: "Minha Biografia"
date: 2021-09-18T16:59:34-03:00
draft: false
---
<div class= "section">
    <div class ="biografia">
        <div class = "article">
        <p> Nasci em 13 de julho de 2002 na cidade de São Paulo, SP, Brasil. Na primeria infância estudei no colégio Visconde de Porto Seguro e 
            após isso no Dante Alighieri, no Ensino Fundamental 1. Desde cedo me mostrei empenhado nas atividades escolares
            e me importei com meu desempenho acadêmico. Isso resultou no recebimento de bolsa escolar integral por dois anos letivos consecutivos, ao 
            ser o 1.o e 2.o colocado geral no 4.o e 5.o anos do Ensino Fundamental, respectivamente. Neste período também participei de diversas 
            atividades extracurriculares, tais como basquete, xadrez, e kung-fu, bem como o estudo complementar de inglês.
        </p>
        <p> A partir do 6.o ano, cursei o Ensino Fundamental e Médio no Colégio Bandeirantes. Lá mantive meu esforço acadêmico, conquistando o 1.o lugar
            geral no 8.o ano. Muito pela interação com dois excepcionais professores, a partir do 8.o ano descobri a paixão pelas áreas de exatas, em especial
            a Matemática e a Física. No Ensino Médio, isso me levou a participar do projeto ARPA (ver seção), e a aplicar e participar de um curso 
            de verão na universidade de Brown (EUA), abordando "Probabilidade e as suas aplicações". No 3.o ano do Ensino Médio, decidi que queria cursar engenharia
            mecatrônica na USP, pois a robótica foi algo que sempre me atraiu.
        </p>
        <p>
            Infelizmente, adentrei na Ecola Politécnica no início de 2020, ano de início da pandemia da Covid-19, o que naturalmente tornou a experiência de estudar
            na melhor escola de engenharia do Brasil menos emocionante do que imaginava. No entanto, as disciplinas, em especial aquelas do Biênio,
            me fascinavam, e eu me dediquei a elas e obtive bom desempenho. Me dediquei também pois desde o início tive vontade de participar do 
            processo de Duplo Diploma que a Escola oferece, com enfoque especial na Alemanha e na TUM (Technical University of Munich),
            por ser uma das mais prestigiadas faculdades de engenharia da Europa e do mundo. Em maio de 2021, apliquei e fui aceito na Skyrats, grupo de extensão
            cujo objetivo é o desenvolvimento de drones autônomos. Lá participei de diversos projetos e agreguei conhecimentos nas áreas de
            A partir de 2022, as aulas retornaram ao presencial e pude vivenciar a Poli mais de perto, o que tem sido muito interessante. Comecei minha Iniciação
            Científica no laboratório do prof. Jun Okamoto, com um tema que integra visão computacional e robótica. Atualmente, fui aceito em meu programa de Duplo
             Diploma e aguardo ansiosamente por aquilo que tanto busquei.
        </div>
        <div class = "image">
            <img controls width =500 height=500 src="/images/perfil.jpg" alt="Perfil"/>
        </div>
    </div>
</div>