---
title: "Interesses e Competências"
date: 2021-09-18T16:59:34-03:00
draft: false
---

<div class = "section">
    <div class = "article" >
        <p> 
            Meu principal interesse consiste no desenvolvimento de
            software e sistemas de controle para
            aplicação em robótica. 
        </p>
        <h2>Competências pessoais</h2>
        <ul>
            <li>Detalhismo</li>
            <li>Gosto por compartilhar conhecimento</li>
            <li>Hard working</li>
        </ul>
<!--  <div>
    <div class = "article" > -->
        <h2>Competências técnicas</h2>
        <ul>
            <li>Python</li>
            <li>Matlab/Octave</li>
            <li>C/C++</li>
            <li>Verilog</li>
            <li>OpenCV</li>
            <li>ROS</li>
            <li>Gazebo/Webots Simulator</li>
            <li>Latex</li>
            <li>Pacote Office</li>
        </ul>
    </div>
    
</div>