---
title: "Meus Projetos"
date: 2021-09-18T16:59:34-03:00
draft: false
---
<div class="section">
    <div class = "projeto">
    <!--    <p id = "legenda">Nesta página encontram-se os principais projetos acadêmicos 
            ou educacionais dos quais participei durante minha vida estudantil.</p> -->
        <div class = "article">
            <h2>ARPA: De alunos para alunos</h2>
            <p> Local: Colégio Bandeirantes</p>
            <p> Período: 1.o e 2.o anos do Ensino Médio </p>
            <p>O projeto ARPA foi criado pelos alunos para tutoria e suporte acadêmico mútuo.
                 Lá lecionei aulas de preparação anteriormente às avaliações de diversas disciplinas 
                 (termologia, álgebra, geometria, eletricidade). Desenvolvi em conjunto com demais 
                 estudantes de resumos e materiais complementares para melhor compreensão das disciplinas e
                 realizei seções individuais de ajuda tanto presencialmente como através das redes sociais.</p>
        </div>
    </div>
    <div class ="projeto">
        <div class = "article">
            <h2>Monitoria de MAT2455</h2>
            <p> Local: Escola Politécnica</p>
            <p> Período: 1.o semestre de 2022</p>
            <p> Fui monitor da disciplina de Cálculo Diferencial e Integral III, 
                auxiliando na revisão e correção do material didático disponibilizado 
                aos alunos e participando em plantões de atendimento presenciais e remotos para retirada de dúvidas.</p>
        </div>
        <div class = "image">
            <img controls width =500 height=500 src="/images/calculo.png" alt="Calculo"/>
        </div>
    </div>

    <div class ="projeto">
        <div class = "article">
            <h2>Iniciação Científica: SfM incremental a partir de vídeo</h2>
            <p> Agência de fomento: CNPQ</p>
            <p> Local: Escola Politécnica</p>
            <p> Período: 1.o semestre de 2022 - período atual</p>
            <p> Desenvolvimento de pipeline de Structure from Motion 
                para reconstrução da estrutura tridimensional de uma cena 
                e do movimento da câmera a partir de frames de um vídeo. </p>
        </div>
        <img controls width =500 height=500 src="/images/IC.jpg" alt="IC"/>
    </div>

    <div class ="projeto">
        <div class = "article">
            <h2>IMAV 2022 - Etapa Nanocopter AI</h2>
            <p> Local: Escola Politécnica</p>
            <p> Período: 1.o semestre de 2022</p>
            <p> A IMAV é a competição internacional de micro veículos aéreos. Auxiliei no desenvolvimento do algoritmo de controle
                do ambiente de simulação dinâmico da competição. Além disso, auxiliei no desenvolvimento do
                algoritmo de controle de movimento que rodou de forma embarcada na placa de circuito impresso do
                nano-drone. </p>
        </div>
        <img controls width =500 height=500 src="/images/crazyflie.jpg" alt="drone"/>
    </div>
</div>

