#header_geral {
  min-width: 800px;
  border: 15px solid #F4A896;
  padding: 50px;
  margin: 20px;
  background-color: #358597;
  color: black;
  text-align: center;  
  }
#tit_seçoes {
   min-width: 800px;
   border: 15px solid #F4A896;
   padding: 50px;
   margin-left: 0;
   margin-right: 0;
   background-color: #358597;
   color: white;
   text-align: center;  
}
  #legenda {
    min-width: 800px;
    border: 15px solid #F4A896;
    padding: 50px;
    margin: 20px;
    background-color: #358597;
    color: white;
    text-align: center; 
  }


  #interesse {
    min-width: 800px;
    border: 15px solid #F4A896;
    padding: 50px;
    margin: auto;
    background-color: #358597;
    color: white;
    text-align: center; 
  }

  main {
    width: 80%;
    margin: 0 auto;
    flex: 1;
  }

  footer {

    display: flex;
    justify-content: center;
    text-align: center;
  }

  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
  } 
  .projeto {
    display: flex;
    flex-direction: row; 
  }

  .biografia {
    display: flex;
    flex-direction: row;
  }

   

  .article {
    min-width: 800px;
    border: 15px solid #F4A896;
    padding: 50px;
    margin: 20px;
    background-color: #358597;
    color: white;
    text-align: justify;
  }
  


@media only screen and (max-width: 1000px) {

#header_geral {
    min-width: 400px;
    border: auto solid #F4A896;
    padding: auto;
    margin: auto;
    background-color: #358597;
    color: black;
    text-align: center;  
    }
  #tit_seçoes {
    min-width: 400px;
    border: auto solid #F4A896;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #358597;
    color: white;
    text-align: center;  
  }
    #legenda {
      min-width: 400px;
      border: auto solid #F4A896;
      padding: auto;
      margin: auto;
      background-color: #358597;
      color: white;
      text-align: center; 
    }
  
  
    #interesse {
      min-width: 400px;
      border: auto solid #F4A896;
      padding: auto;
      margin: auto;
      background-color: #358597;
      color: white;
      text-align: center; 
    }
  
    main {
      width: 80%;
      margin: 0 auto;
      flex: 1;
    }
  
    footer {
  
      display: flex;
      justify-content: center;
      text-align: center;
    }
  
    body {
      height: 100vh;
      display: flex;
      flex-direction: column;
    } 
    .projeto {
      display: flex;
      flex-direction: column; 
    }
  
    .biografia {
      display: flex;
      flex-direction: column;
    }
  

    .article {
      min-width: 400px;
      border: auto solid #F4A896;
      padding: auto;
      margin: auto;
      background-color: #358597;
      color: white;
      text-align: justify;
    }
}

