<!--<div class = "header">-->
<header id ="header_geral">
    <h1 id ="titulo_geral">{{ .Site.Title}}</h1>
    <div class ="nav">
        <a href="{{ "" | relURL }}">Home</a> &nbsp; <a href="{{ "biografia" | relURL }}">Biografia</a> &nbsp; <a href="{{ "projetos" | relURL }}">Projetos</a>  &nbsp; <a href="{{ "interesses" | relURL }}">Interesses e Competências</a>
    </nav>
</header>